   h1,
   h2 {
       color: rgb(218, 22, 47);
       font-family: fantasy;
   }

   h1,
   h2 {
       font-family: bold;
       background-color: black;
   }
body {
    background-color: whitesmoke;
}

main {
    background-color: whitesmoke;
}

.differentfont {
    
    font-family: monospace;
    
}

header, footer {
    color: red;
    
}


#pictures {
    color: black;
}

#features {
    color: black;
}


nav a {
    color: black;
}

footer a {
    color: black;
}


a:hover {
    color: #aaa;
}

@media screen and (max-width: 30rem) {
    
    header,
    main,
    footer,
    form p {
        flex-direction: column; 
    }
    form input, textarea{
        margin: 2px 0;
    }
    .hero-text {
        flex:none
    }
    form select {
        margin: 0
    }
}